@charset "utf-8";
/* CSS Document */

body{
	background: #000;
	font: 12px Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#container{
	width: 300px;
	margin: 300px auto;
	background: #172659;
	border: 1px solid #fff;
	color: #fff;
	padding: 25px;
}

h2{
		border-bottom: 1px dotted #fff;
		padding: 5px 10px;
		margin-top: 0;
		margin-bottom: 20px;
}

td{
		color: #fff;
		padding: 5px 10px;
}

